body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    font-size: 15rem;
    font-family: Montserrat;
}

.letter {
    transition: color 0.25s;
}